* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  background-color: #202124;
  color: #ffffff;
  box-sizing: border-box;
}

.light-mode {
  background-color: #efefef;
}
.light-mode .title,
.light-mode .text,
.light-mode .main__subtitle {
  color: #202124;
}
.light-mode .text {
  font-weight: 400;
}
.light-mode .text-color {
  font-weight: 600;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

link {
  cursor: pointer;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
}

.visually-hidden {
  display: none;
}

.text-underline {
  text-decoration: underline;
}
.text-color {
  color: #efd912;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.up-button {
  display: none;
  position: fixed;
  bottom: 7rem;
  right: 5rem;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  z-index: 99;
  border: none;
  outline: none;
  background-image: url("../../img/up-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 60%;
  background-color: #efd912;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 2.5rem;
  }

  .up-button {
    right: 3rem;
  }
}

/* HEADER */

.header {
  width: 96%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  text-transform: uppercase;
  z-index: 1;
}
.active {
  background-color: #202124;
  border-bottom: 0.5px solid #000000;
  transition: ease-in-out 1s;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__item {
  padding: 1rem;
  margin: 0 1rem;
  font-weight: 600;
}

.header__link {
  color: inherit;
  text-decoration: none;
  transition: ease-in-out 0.5s;
  z-index: 1;
}

.header__item:hover {
  color: #efd912;
}

.header__button {
  padding: 1rem;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #efd912;
  border-radius: 20px 0;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.header__button:hover {
  background-color: #efd912;
}

@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

/* TOGGLE */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch__icon {
  width: 1rem;
  height: 1rem;
  fill: #efefef;
}

.theme-switch-wrapper p {
  margin: 0 10px;
  font-size: 0.7rem;
  text-transform: lowercase;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 3px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #efd912;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* HUMBURGER */
.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 3rem 3rem;
  background-color: #202124;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.hamburger.active {
  transform: translateX(0);
}

.hamburger-btn {
  display: none;
  width: 2rem;
  height: 2rem;
  margin-right: 3rem;
  position: relative;
  z-index: 1;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger-btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ccc;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.hamburger-btn span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.hamburger-btn span:nth-child(2) {
  top: 12px;
  transform-origin: left center;
}
.hamburger-btn span:nth-child(3) {
  top: 24px;
  transform-origin: left center;
}
.hamburger-btn.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
.hamburger-btn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
  left: 8px;
}

.hamburger__list {
  padding-top: 4rem;
  list-style-type: none;
}

.hamburger__link {
  padding: 0.5rem;
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.hamburger__link:hover {
  color: #efd912;
}

.hamburger__item {
  padding: 1rem 0;
  margin: 2rem 0;
}

.hamburger__container {
  background-color: inherit;
}

.hamberger-header__button {
  padding: 1rem;
  background-color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #efd912;
  border-radius: 20px 0;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.hamberger-header__button:hover {
  background-color: #efd912;
}

@media screen and (max-width: 1024px) {
  .hamburger-btn {
    display: block;
  }

  .theme-switch-wrapper,
  .header__button {
    display: none;
  }
}

/* INTRO */

.intro {
  padding: 8.5rem 0 2rem 3rem;
  height: 100vh;
  background-image: url("../img/main2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__title {
  max-width: 80%;
  margin-bottom: 1rem;
  font-size: 7rem;
}

.intro__title_cursive {
  color: #efd912;
  font-style: italic;
}

.intro__text {
  font-size: 2rem;
}

.intro__container {
  margin: 5%;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 2rem;
  }
  .intro__title {
    font-size: 3rem;
  }
  .intro__text {
    padding-right: 3rem;
    font-size: 1.3rem;
  }
}

/* MAIN */

.main {
  padding: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main__container {
  max-width: 50%;
}

.main__subtitle {
  margin-bottom: 2rem;
}

.main__text {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

.main__img {
  border: 3px solid #efd912;
  border-radius: 80px 0;
  filter: brightness(70%);
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 3rem;
  }
  .main__container {
    max-width: 100%;
  }
  .main__img {
    max-width: 21rem;
  }
}

/* MAIN-VIDEO */
.main-video {
  position: absolute;
  display: block;
  margin: 0 auto;
  right: 33%;
  top: 85rem;
}
.main-video__img {
  width: 15rem;
  filter: brightness(70%);
}

@media screen and (max-width: 1024px) {
  .main-video {
    top: 120rem;
    right: 0;
  }

  .main-video__img {
    width: 10rem;
  }
}

/* GALLERY */

.gallery {
  padding: 3rem 7rem 7rem 7rem;
}

.gallery__title {
  text-align: center;
  margin-bottom: 5rem;
}

.gallery__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.gallery__container {
  position: relative;
}

.gallery__text-container {
  visibility: hidden;
  position: absolute;
  text-align: center;
}

.gallery__container:hover .gallery__text-container {
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
  transform: translatey(-103px);
  -webkit-transform: translatey(-103px);
}

.gallery__blur {
  height: 100px;
  width: 23.2rem;
  z-index: 5;
  position: absolute;
  background-color: rgb(32, 33, 36, 0.8);
}

.gallery__div-text {
  z-index: 10;
  position: absolute;
  width: 23.2rem;
  height: 20rem;
  top: 10px;
  text-align: center;
}

.gallery__img {
  filter: brightness(50%);
}

.gallery__img:hover {
  filter: brightness(100%);
  transition: ease-in 0.5s;
}

.gallery__text-name {
  font-size: 1.5rem;
  color: #efd912;
}

@media screen and (max-width: 1024px) {
  .gallery {
    padding: 3rem;
    align-items: center;
  }
  .gallery__img {
    max-width: 21rem;
  }
  .gallery__item {
    margin-bottom: 2rem;
  }
}

/* PROFILE */

.profile {
  margin: 0 auto;
  padding: 7rem;
  display: flex;
  flex-wrap: wrap;
}

.profile__title {
  margin-bottom: 3rem;
}

.profile__subtitle {
  font-size: 2rem;
}

.profile__subtext {
  margin-bottom: 2rem;
  font-style: italic;
}

.profile__container {
  max-width: 50%;
  margin-right: 5rem;
}

.profile__text {
  line-height: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 3rem;
  }
  .profile__container {
    max-width: 100%;
    margin-right: 0;
  }
  .profile__text {
    margin-bottom: 2rem;
  }
  .profile__photo {
    max-width: 21rem;
  }
}

/* FOOTER */

.footer {
  background-color: #202124;
  padding: 4rem;
  text-align: center;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__text {
  margin-bottom: 5rem;
}

.footer__list {
  max-width: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
  transition: ease-in 0.5s;
}
.footer__icon:hover {
  fill: #efd912;
  transform: scale(1.1);
}
.footer__text-link {
  color: inherit;
}
