* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  background-color: #202124;
  color: #ffffff;
  box-sizing: border-box;
}

link {
  cursor: pointer;
}

.title {
  font-size: 3rem;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
}

.visually-hidden {
  display: none;
}

/* HEADER */

.header {
  width: 95%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  text-transform: uppercase;
}
.active {
  background-color: #202124;
  border-bottom: 1px solid #ffffff;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.header__item {
  padding: 1rem;
  margin: 0 1rem;
  font-weight: 600;
}

.header__link {
  color: inherit;
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

.header__item:hover {
  color: #efd912;
}

.header__button {
  padding: 1rem;
  background-color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
  border: 2px solid #efd912;
  border-radius: 20px 0;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.header__button:hover {
  background-color: #efd912;
}

/* INTRO */

.intro {
  padding: 8.5rem 0 2rem 3rem;
  height: 100vh;
  background-image: url("../img/main2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro__title {
  max-width: 80%;
  margin-bottom: 1rem;
  font-size: 7rem;
}

.intro__title_cursive {
  color: #efd912;
  font-style: italic;
}

.intro__text {
  font-size: 2rem;
}

.text-underline {
  text-decoration: underline;
}
.text-color {
  color: #efd912;
}

/* MAIN */

.main {
  padding: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__container {
  max-width: 50%;
}

.main__subtitle {
  margin-bottom: 2rem;
}

.main__text {
  margin-bottom: 1.5rem;
}

.main__img {
  border: 3px solid #efd912;
  border-radius: 80px 0;
  filter: brightness(70%);
}

/* GALLERY */

.gallery {
  padding: 4rem 7rem 7rem 7rem;
}

.gallery__title {
  margin-bottom: 2rem;
}

.gallery__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.gallery__container {
  position: relative;
}

.gallery__text-container {
  visibility: hidden;
  position: absolute;
  text-align: center;
}

.gallery__container:hover .gallery__text-container {
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
  transform: translatey(-80px);
  -webkit-transform: translatey(-80px);
}

.gallery__blur {
  height: 100px;
  width: 23.2rem;
  z-index: 5;
  position: absolute;
  background-color: rgb(32, 33, 36, 0.8);
}

.gallery__div-text {
  z-index: 10;
  position: absolute;
  width: 23.2rem;
  height: 20rem;
  top: 10px;
  text-align: center;
}

.gallery__img {
  filter: brightness(50%);
}

.gallery__img:hover {
  filter: brightness(100%);
  transition: ease-in 0.5s;
}

.gallery__text-name {
  font-size: 1.5rem;
  color: #efd912;
}
